<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Adventure Alley</title>
</head>
<body>
<h1 align="center" th:text="${activity.name}"></h1>
<br>
<button type="button">Forside</button>
<button type="button">Edit</button>
<button th:action="@{/deleteActivity(activity.name}" method="post" type="button">Slet</button>
<br>

<textarea readonly name="Requirments" rows="10" cols="90">
Write requirment stuff here
</textarea>

<img th:src="${activities.get().getImagePath()}" th:alt="${activities.get(index).getImagePath()}" height="300px" width="300px"/>

<br>
<textarea readonly name="Description" rows="10" cols="90">
Write description stuff here
</textarea>
<br>
<textarea readonly name="Equipment" rows="10" cols="90">
Write Equipment stuff here
</textarea>



</body>
</html>