<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Adventure Alley</title>
</head>
<body>
<h2 align="center" th:text="${activity.name}"></h2>
<div class="topnav">
    <a class="active" href="/">Forside</a>
    <a th:href="@{/editActivity(name=${activity.name})}">Edit</a>
    <a th:href="@{/deleteActivity(name=${activity.name})}">Slet</a>
</div>
<div class="container" align="center">
    <table>
        <tr>
            <td>Krav: </td>
            <td th:text="${activity.reqList}"></td>
        </tr>
        <tr>
            <td>Beskrivelse: </td>
            <td th:text="${activity.description}"></td>
        </tr>
        <tr>
            <td>Udstyr: </td>
            <td th:text="${activity.equipment}"></td>
        </tr>
        <tr>
            <img th:src="${activity.imagePath}" height="300px" width="300px"/>
        </tr>
    </table>
</div>
<!--
<h1 align="center" th:text="${activity.name}"></h1>
<br>
<button type="button">Forside</button>
<button type="button">Edit</button>
<br>

<textarea readonly name="Requirements" rows="10" cols="90" th:text="${activity.reqList}">
</textarea>

<img th:src="${activity.imagePath}" height="300px" width="300px"/>
<br>
<textarea readonly name="Description" rows="10" cols="90" th:text="${activity.description}">
</textarea>
<br>
<textarea readonly name="Equipment" rows="10" cols="90" th:text="${activity.equipment}">
</textarea>
-->
</body>
</html>