<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Create Activity</title>
</head>
<body>
<h2>Opret en Aktivitet og dets krav</h2>

<form method="POST" action="createA">
    <input type="text" name="name" placeholder="Navn"/>
    <input type="text" name="reqName" placeholder="Kravnavn"/>
    <input type="text" name="value" placeholder="Kravværdi"/>
    <input type="text" name="reqName" placeholder="Kravnavn"/>
    <input type="text" name="value" placeholder="Kravværdi"/>
    <input type="text" name="imagePath" placeholder="Billede Sti"/>
    <input type="submit" value="Add Activity"/>
</form>

<div>
    <a href="/index" class="btn" >Tilbage til Forsiden</a>
</div>
</body>
</html>