<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Lav en ny kravs type</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="" th:href="@{stylesheet.css}"/>
    </head>
    <body>

        <!-- LAVET AF ANDREAS OG JONAS -->
        <a href="/">Tilbage</a>
        <h1>Lav en ny Kravstype</h1>

        <form th:action="@{/createrequirement}" method="post">
            <label for="name">Titel:</label>
            <input type="text" id="name" th:name="name"/>
            <input type="submit" value="opret krav"/>
        </form>
    </body>
</html>