<!DOCTYPE html>
<html lang="en" xmlns:th="http://java.sun.com/xml/ns/persistence/orm">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="" th:href="@{colorscheme.css}"/>
    <meta charset="UTF-8"/>
    <title>Adventure Alley</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <a class="btn btn-primary"  href="/">Forside</a>
                <a class="btn btn-primary" href="/createactivity"> Opret Aktivitet</a>
            </div>
            <div class="col-sm-6">
                <h1 class="text-center">Adventure Alley</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h2 class="text-center">Aktiviteter</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <table class="text-center" th:if="${activities.size() > 0}">
                    <tr th:each="index : ${#numbers.sequence(0, activities.size(), 3)}">
                        <td>
                            <div th:if="${index lt activities.size()}">
                                <a th:href="@{/activityPage(id=${index})}" class="btn-image"> <!-- Vælg hvor billede skal linke til her -->
                                    <img th:src="${activities.get(index).getImagePath()}" th:alt="${activities.get(index).getImagePath()}" onclick=""
                                         height="175px" width="175px"/>
                                </a>
                                <h3  th:text="${activities.get(index).getName()}"></h3>
                            </div>
                        </td>
                        <td>
                            <div th:if="${index + 1 lt activities.size()}">
                                <a th:href="@{/activityPage(id=${index+1})}" class="btn-image">
                                    <img th:src="${activities.get(index + 1).getImagePath()}" th:alt="${activities.get(index + 1).getImagePath()}" onclick=""
                                         height="175px" width="175px"/>
                                </a>
                                <h3  th:text="${activities.get(index+1).getName()}"></h3>
                            </div>
                        </td>
                        <td>
                            <div th:if="${index + 2 lt activities.size()}">
                                <a th:href="@{/activityPage(id=${index+2})}" class="btn-image">
                                    <img th:src="${activities.get(index + 2).getImagePath()}" th:alt="${activities.get(index + 1).getImagePath()}" onclick=""
                                         height="175px" width="175px"/>
                                </a>
                                <h3  th:text="${activities.get(index+2).getName()}"></h3>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>