<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>View Booking</title>
</head>
<body>
<div class="container">

    <h1 align="center">Bookinger</h1>
    <table>
        <tr>
            <th>Aktivitet</th>
            <th>Tidspunkt</th>
            <th>Kontakt person</th>
            <th></th>
        </tr>
        <tr th:each="bookingArray : ${booking}">
            <td th:text="${bookingArray.activity.name}"></td>
            <td th:text="${bookingArray.date}"></td>
            <td th:text="${bookingArray.customer.customerName}"></td>
            <td>
                <a th:href="@{/bookingDetails(id=${bookingArray.id})}">Details</a>
                <a th:href="@{/deleteBooking(id=${bookingArray.id})}">Slet</a>
            </td>
        </tr>
    </table>

</div>
</body>
</html>
